@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar General */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track (fondo del scrollbar) */
  ::-webkit-scrollbar-track {
    background: #2A1D3C; /* Color de fondo del track */
    border-radius: 10px;
  }
  
  /* Thumb (barra deslizante) */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #7B1FA2, #D500F9); /* Degradado */
    border-radius: 10px;
    transition: background 0.3s ease;
  }
  
  /* Hover sobre la barra */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #D500F9, #7B1FA2);
  }
  
  /* Scrollbar en Elementos Específicos */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #9C27B0;
  }
  